{% extends "novosti/base.html" %}
{% block navtraka %}
    {% load static %}
    <ul class="nav-traka">          
        <li><a class="meni" href="{% url 'novosti-home' %}">naslovnica</a></li>
        <li><a class="meni" href="{% url 'novosti-novosti' %}">novosti</a></li>
        <li><a class="meni" href="{% url 'novosti-oprojektu' %}">o projektu</a></li>
        <li><a class="meni" href="{% url 'novosti-partneri' %}">partneri</a></li>
        <li><a class="active" href="{% url 'novosti-kontakt' %}">kontakt</a></li>
    </ul>
{% endblock navtraka %}
{% block content %}
    {% load static %}
    <div class="house1">
        <div class="house2">
            <div class="house3">
                <h1>Kontakt</h1>
            </div>
            <div class="house4">
                <div class="lijevidio">
                        <div class="slikapozadina" style="background-image:url({% static 'novosti/images/sponzor11.jpg' %});">
                    </div>
                </div>
                <div class="desnidio">
                    <p> 
                        Udruga Idemo Dalje <br>
                        Đakovačka 26 <br>
                        10 000 Zagreb <br>
                        Voditeljica projekta: Gordana Ramač <br>
                        e-mail: udruga.idemodalje@gmail.com <br>
                        M: 091 58 21 754 <br>
                        Web: https:// zeza.hr
                    </p>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}